<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Excluir</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit) = "deleteUser()">
      
    <ion-item>
      <ion-label position="stacked" > ID: </ion-label>
      <ion-input [value]="user?.id" name="id"></ion-input>
    </ion-item>
    
   
    <ion-item>
      <div  >
        <ion-button color ="secondary"  type= "submit"  > Salvar</ion-button>
        <ion-button color ="warning" (click) = "cancelar()" type = "submit">Cancelar </ion-button> 
      </div> 
    </ion-item>
    
  </form>
</ion-content>
